.mb-30 {
    margin-bottom: 1.875rem;
}

.mb-10 {
    margin-bottom: 0.625rem;
}

.mb-5 {
    margin-bottom: 0.312rem;
}

.py-10 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.px-10 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}